@model IEnumerable<M_TV.Models.Movie>
@{
    ViewData["Title"] = "Movies";
}

<a asp-action="Create" class="btn btn-info btn-lg mb-3">
    <i class="bi bi-plus-square-dotted"></i>
    New Movie
</a>

@if (!Model.Any())
{
    <div class="alert alert-warning">
        <h4 class="alert-heading">Warning!</h4>
        <p class="mb-0">There are no movies added yet!</p>
    </div>
}
else
{
    <table class="table table-bordered table-striped table-hover">
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@movie.Id" class="d-flex align-items-center text-decoration-none">
                            
                            <div class="flex-shrink-0">
                                <img src="@(FileSettings.ImagesPath)/@(movie.Cover)" alt="@movie.Name Cover" class="img-thumbnail" style="width: 100px; height: auto;" />
                            </div>

                            
                            <div class="flex-grow-1 ms-3">
                                <h5 class="mb-1">@movie.Name</h5>
                                <p class="mb-1">
                                   <span class="badge bg-dark">@(movie.Category?.Name ?? "N/A")</span>
                                </p>
                                <p class="mb-0">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        if (i <= movie.Rate / 2) 
                                        {
                                            <i class="bi bi-star-fill text-warning"></i> 
                                        }
                                        else
                                        {
                                            <i class="bi bi-star text-warning"></i> 
                                        }
                                    }
                                    <span> (@movie.Rate/10)</span>
                                </p>
                            </div>
                        </a>
                    </td>
                    <td class="text-center align-middle">
                        <div class="d-inline-flex">
                            <a asp-action="Update" asp-route-id="@movie.Id" class="btn btn-warning btn-sm me-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a href="javascript:;" class="btn btn-danger btn-sm js-delete" data-id="@movie.Id">
                                <i class="bi bi-trash-fill"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
@section Scripts{
	<script src="~/js/movie-index.js" asp-append-version="true"></script>
}
